
fastapi
uvicorn[standard]
ultralytics
opencv-python-headless
scikit-learn
asyncpg
python-dotenv
PyJWT[crypto]
numpy
torch
pandas
colorlog
filterpy
shapely
scipy
matplotlib
seaborn
tqdm
pyyaml
statsmodels
